<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Charts in Ionic 2
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        High Chart
      </ion-card-header>
      <ion-card-content>
        <div id="container" style="display: block;"	></div>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        Gauge Chart
      </ion-card-header>
      <ion-card-content>
        <div id="gauge-chart" style="display: block;"	></div>
      </ion-card-content>
    </ion-card>
</ion-content>